<div class="main-container">
  <div class="container">

      <div class="col-lg-11 col-xl-10">
        <div class="page-header">
          <h1>Projects</h1>
          <p class="lead">You can browse through projects below</p>
        </div>
      </div>
  
    <hr>


        <div class="content-list-body">
          <div class="row">
            <div class="col-md-6" *ngFor="let project of projectList$ | async">
              <div class="card card-project">
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="8" aria-valuemin="0" aria-valuemax="100" [appProgressBar]="project.percentage"></div>
                </div>
                <div class="card-body">
                  <div class="dropdown card-options">
                    <button class="btn-options" type="button" id="project-dropdown-button-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                  </div>
                  <div class="card-title">
                    <a href="#">
                      <h5 data-filter-by="text" class="H5-filter-by-text">{{ project.name }}</h5>
                    </a>
                  </div>
                  <p class="card-title">Due on {{ project.dueDate | dateFormat }}</p>
                  <div class="card-meta d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                      <!-- Dodaj treść opcjonalną -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    
    
  </div>
